.container
{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.clueList
{
    display: flex;
    flex-direction: row;
    gap: 6px;
}

.clueContainer
{
    /* background-color: red; */
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 2px;
    max-width: 52px;
    gap: 6px;
}

.clue
{
    display: grid;
    place-items: center;
    aspect-ratio: 1;
    border-radius: 50%;
    color: #FFFFFF;
    font-weight: bold;
    padding: 4px;
    width: 48px;
    text-align: center;
}
