.container
{
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 16px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 8px;
}

.guessList
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    gap: 16px;
    font-style: italic;
}

@media only screen and (min-width:800px)
{
    .container
    {
        width: 553px;
    }
}

  @media only screen and (max-width:800px)
{
    .container
    {
        max-width: 100vw;
    }
}