.container
{
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 12px;
  background-color: #FFFFFF;
  border-radius: 8px;
  width: 250px;
}

.inputContainer
{
  display: flex;
  flex-direction: column;

}

.input
{
    padding: 12px;
    border-radius: 8px;
    border: #4C4F5C 1px solid;
    color: #181818;
    background-color: #F5F5F5;
}

.input:hover
{
  background-color: #F5F5F5;
}

.input:focus
{
  border: #4C4F5C 1px solid;
}

.checkButton
{
  height: fit-content;
  border: none;
  background-color: #67ade2;
  color: #FFFFFF;
  font-weight: bolder;
  padding: 8px 12px;
  border-radius: 6px;
}

.checkButton:hover
{
  background-color: #3c5880;
}

@media only screen and (max-width:500px)
{
    .container
    {
      width: 100vw;
      background: none;
    }
}