.container
{
    padding: 32px;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 8px;
    overflow-x: scroll;
    overflow-y: scroll;
}

.data
{
    border-top: solid 1px #808080;
    padding: 12px;
}
.dataMiddle
{
    border-top: solid 1px #808080;
    border-left: solid 1px #808080;
    border-right: solid 1px #808080;
    padding: 12px;
}